.App {
  text-align: center;
}

.App-logo {
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 15px;
}

#nav-link{
  font-size: 15px;
  margin: 2px;
  color: white;
  font-family: "Montserrat";
}




#nav-pic, #nav-link {
  display: inline-block;

}

#nav-pic {
  font-size: 20px;
  color: white;
  margin-right: 10px;
}

#logo-pic {
  height: 30px;
  display:inline-block;
  margin-left: 15px;
}

a:hover {
  text-decoration: none;
  color: grey;
}

h1 {
  padding: 0;
  margin: 0;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.navbar {
  background-color: black;
  height: 50px;
}

.App, .show-grid, .navbar, .row {
  
  padding: 0px;
  background: black;
}

.navbar {
  border-bottom: 2px solid white;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar-collapse {
  position: relative;
  z-index: 1000;
  background: black;
  float: right;
}

li.navbar-right {
  color: black;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-right: 0px; 
  margin-left: 0px; 
}

.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 0;
}
