.App {
  text-align: center;
}

.App-logo {
  font-family: 'Indie Flower', cursive;
  font-size: 15px;
  float: left;
}

#nav-link{
  font-size: 15px;
  color: black;
  background: white;
  font-family: "Montserrat";
  text-align: center;
}

#drop-link, #drop-pic {
  color: black;
  font-family: 'Montserrat';
  display: inline-block;
  margin: 5px;
}
#nav-pic, #nav-link {
  display: inline-block;
}

#nav-pic {
  font-size: 20px;
  color: black;
  margin-right: 10px;
}

#logo-pic {
  height: 30px;
  position: sticky;
  z-index: 99999;
}

a:hover {
  text-decoration: none;
  color: grey;
}

h1 {
  padding: 0;
  margin: 0;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.navbar-header {
  background-color: white;
  height: 50px;
}

.App, .show-grid, .navbar, .row {  
  padding: 0px;
  background: black;
}

.navbar {
  border: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar-collapse {
  z-index: 1000;
  background: white;
  position: sticky;
 
}

.dropdown-toggle {
  background: white;
}


.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-right: 0px; 
  margin-left: 0px; 
}

.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 0;
}

.navbar-nav .open .dropdown-menu {
  background-color: white;
}

.navbar-inverse .navbar-toggle {
  background-color: #333;
}